<p class="answer">Your guess was: <%=@guess_object.guess%></p>
<p class="answer" id="correctness"> <%=@correctness%> </p>
<p class="answer">The correct answer is: <%=@answer%> </p>

<td>Score: <%=@new_score%></td>

<form id="answer" action=<%=@action%> method="GET">
<input  type="submit" value="Next card">
