<div class="container">

<table class="answer-table">
  <tr>
    <td>User: <%=@user_id%></td>
    <td>Round: <%=@round_id%></td>
    <td>Deck: <%=@deck_id%></td>
    <td>Card: <%=@card_id%></td>
    <td>Score: <%=@new_score%></td>
  <tr>
</table>

<p class="answer">Your guess was: <%=@guess_object.guess%></p>
<p class="answer" id="correctness"> <%=@correctness%> </p>
<p class="answer">The correct answer is: <%=@answer%> </p>


<form id="answer" action=<%=@action%> method="GET">
<input  type="submit" value="Next card">

</form>
</div>
