<div class="container">

<p>Here's the user id<%=@user_id%></p>
<p>Here's the first deck name  <%=@all_decks.first.name%></p>

<h1 class="play">Pick a deck and start playing!</h1>

<form id="play" action="/user/<%=@user_id%>/cards" method="POST">
<select name="deck"> 
  <% @all_decks.each do |deck| %>
  <option value = "<%=deck.id%>"><%= deck.name.capitalize %></option>
  <% end %>
</select>
  <input class="submitanswer" type="submit" value="Start playing">
</form>

  <h2 class="play">User stats</h2>
  <!-- <div class="statcontainer"> -->
    <table class="center">
        <tr> 
          <th>Round Number</th>
          <th>Deck Name</th>
          <th>Score </th>
        </tr>
      <!-- Each row of user data-->
        <%  a = 1 %>
        <% @round.each do |round| %>
        <tr>
          <td class="td-play"><%= a %></td><br>
          <%  @no = round.deck %>    
          <td class="td-play"><%= Deck.find_by_id(@no).name.capitalize %> </td><br>
          <td class="td-play"><%= ((Round.find(round.id).score.to_f / Deck.find(@no).cards.length.to_f) * 100).floor  %> % </td><br>
          <%a += 1 %>
        </tr>
        <% end %>
    </table>
<!--   </div> -->
</div>



